<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

    <title>Login Page</title>
  </head>
  <body>

    <%- include('partials/header') %>

    <section class="container">
      <div class="row content d-flex justify-content-center text-left mt-2">

          <nav aria-label="Page navigation">
                   <%= lowerBound %> out of <%= upperBound %> total <%= totalNum %>
              <ul class="pagination pagination-lg justify-content-end">
                  <% if (pageNum > 0) { %>
                    <li class="page-item"><a class="page-link" href="/search?category=<% category %>&search=<% searchTerm %>&page=1">Previous</a></li>
                  <% } %>
                <li class="page-item"><a class="page-link" href="/search?category=<% category %>&search=<% searchTerm %>&page=2">Next</a></li>
              </ul>
          </nav>

        <div class="p-3 border bg-light">
          <div id="result">
            <div class="flex-search-results">
              <% for(let i = 0; i < searchResult.length; i++) { %>
                <div class="flex-search-item box shadow bg-light p-4">
                  <% item = searchResult[i];%>
                    <div class="">
                      <% if (images[i] !== undefined) { %>
                        <a href="/tutor/<%=item['first_name']; %>-<%= item['last_name']; %>-t<%= item['user_id']; %>"><img class="search_image_sm" src="data:image/jpeg;base64,  <%- images[i]; %>"></a>

                      <% } else { %>
                        <a href="/tutor/<%=item['first_name']; %>-<%= item['last_name']; %>-t<%= item['user_id']; %>">
                          <div class="search_image">

                          </div>
                        </a>
                      <% } %>
                    </div>
                    <div class="col-md-7 mt-0">
                      <a href="/tutor/<%=item['first_name'];%>-<%= item['last_name'];%>-t<%= item['user_id'];%>"><h1>&nbsp;&nbsp; <%= item['first_name']; %> <%= item['last_name']; %> </h1></a>
                      <h4>&nbsp;&nbsp;&nbsp;&nbsp;Major: <%= item['major_long_name'];%></h4>
                    </div> 
                    <div class="col-md-3 mt-0">
                      <div class="d-grid gap-3 mx-auto mt-5 pt-5">
                        <button class="btn btn-primary btn-lg border=0 rounded-0 " type="button">Contact!</button>
                      </div>
                    </div>
                    
                 </div>
              <% } %>
            </div>
          </div>
        </div>
          <%- include('partials/footer') %>

      </div>
    </section>
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

  </body>
</html>