

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
<style>
    .flex-search-results {
        display: flex;
        flex-direction: column;
    }
    .flex-search-item {
        display: flex;
        flex-direction: row;
        outline: 3px solid black;
        border-radius: 4pt;
        padding: 5px;
        margin: 5px;
    }
    .search_image {
        width: 200px;
    }
</style>
<header>
</header>

<form>
    <select name="category" onchange="this.form.submit()">
        <option value="">All Categories </option>
        <option value="csc" <% if(category === "csc") { %> selected <% } %>>Computer Science</option>
        <option value="phil"  <% if(category === "phil") { %> selected <% } %>>Philosophy</option>
    </select>
    <input id="search" type="text" name="search" value="<%= searchTerm %>" placeholder="Search...">
    <button>Search</button>
</form>

<main>
    <div id="result">
        <div class="flex-search-results">

        <% for(let i = 0; i < searchResult.length; i++) { %>
            <div class="flex-search-item">
                <% item = searchResult[i];%>
                <div class="">
                    <%if (images[i] !== undefined) {%>
                        <img class="search_image" src="data:image/jpeg;base64,  <%- images[i] %>">

                    <%} else {%>
                        <div class="search_image"></div>
                    <%}%>
                </div>
                <div class="">
                    <p><%= item['first_name'] %> <%= item['last_name']%> </p>
                    <p>Major: <%= item['major_long_name']%></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</main>

<footer>
</footer>

</body>
</html>